*{
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

body.exercicio{
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 60px 1fr 60px;
  grid-template-areas: 
  "cabecalhosecaoex" 
  "navegacaosecaoex" 
  "principalsecaoex" 
  "rodapesecaoex";
}

.cabecalhosecaoex {
  grid-area: cabecalhosecaoex;
  background: linear-gradient(to right, black, #002542);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 9px -2px rbga(0, 0, 0, 0.75);
  z-index: 1;
}

.cabecalhosecaoex > h1{
  margin: 0px;
  font-weight: 300;
  font-size: 2.8rem;
}

.cabecalhosecaoex > h2{
  margin: 0px;
  font-weight: 200;
  font-size: 1.8rem;
}

.conteudosecaoex{
  position: relative;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

.modulosecaoex{
  flex-basis: 32%;
  margin-bottom: 20px;
  border-radius: 5px;;
}

.modulosecaoex > h3{
  margin: 0px;
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 20px;
  background: linear-gradient(to right, black, #002542);
}

.modulosecaoex > ul{
  margin: 0px;
  padding: 10px;
  list-style: none;
}

.modulosecaoex > ul >li{
  padding: 7px;
  font-size: 1.2rem;
  cursor: pointer;
}

.modulosecaoex > ul >li:hover{
  background-color: #EEE;
}

.modulosecaoex > ul >li > a{
  display: flex;
  text-decoration: none;
  color: #000000;
}

.modulossecaoex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modulosecaoex { border: 2px solid #002542 }
.modulosecaoex > h3 { background-color:#002542 }

.principalsecaoex {
  grid-area: principalsecaoex;
  background-color: #f0f0f0;
  height: calc(100vh - 180px);
  padding: 20px;
}

.rodapesecaoex {
  grid-area: rodapesecaoex;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 0px 20px; /* padding-right: 20px; */

}